.home {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1500px;
}

.loader {
  display: flex;
  justify-content: center;
}

.home__row {
  display: grid;
  z-index: 1;
  margin-right: 10px;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  grid-auto-rows: auto;
}

.home__image {
  width: 100%;
  z-index: -1;
  margin-bottom: -150px;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

@media only screen and (max-width: 600px) {
  .home__row {
    flex-direction: column;
    grid-template-columns: repeat(1, 1fr);
    margin: 0 auto;
  }

  .home__image {
    height: 35vh;
  }
}
