.main_footer {
  padding-top: 2rem;
  position: relative;
  bottom: 0;
  color: #d9d9d9;
  width: 100%;
  background: #111;
  margin: 80px 0 0 0;
}

.second-footer {
  padding-top: 2rem;
  position: relative;
  bottom: 0;
  color: #d9d9d9;
  width: 100%;
  background: #111;
  margin: 20px 0 0 0;
}

.main_content {
  display: flex;
}

.main_content_box {
  flex-basis: 50%;
  padding: 10px 20px;
}

.box_h2 {
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
}

.box_content {
  margin: 20px 0 0 0;
  position: relative;
}

.box_content:before {
  position: absolute;
  content: "";
  top: -10px;
  height: 2px;
  width: 100%;
  background: #1a1a1a;
}

.box_content:after {
  position: absolute;
  content: "";
  height: 2px;
  width: 15%;
  background: #cd9042;
  top: -10px;
}

.left_content_p {
  text-align: justify;
}

.left_content_social {
  margin: 20px 0 0 0;
}

.left_content_social_a {
  padding: 0 2px;
  color: #d9d9d9;
}

.left .content .social a span {
  height: 40px;
  width: 40px;
  background: #1a1a1a;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s;
}

.left .content .social a span:hover {
  background: #cd9042;
}

.center_content_fas {
  font-size: 1.4375rem;
  background: #1a1a1a;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}

.center_content_fas:hover {
  background: #cd9042;
}

.center_content_text {
  font-size: 1.0625rem;
  font-weight: 500;
  padding-left: 10px;
}

.center_content_phone {
  margin: 10px 0;
}

.right_form_text {
  font-size: 1.0625rem;
  margin-bottom: 2px;
  color: #656565;
}

.right_form_msg {
  margin-top: 10px;
}

.right_form_input,
.right_form_textarea {
  width: 100%;
  font-size: 1.0625rem;
  background: #e9e7e7;
  padding-left: 10px;
  border: 1px solid #222222;
}

.right_form_input:focus,
.right_form_textarea:focus {
  outline-color: #cd9042;
}

.right_form_input {
  height: 35px;
}

.right_form_btn {
  margin-top: 10px;
}

.right_form_btn_button {
  height: 40px;
  width: 100%;
  border: none;
  outline: none;
  background: #cd9042;
  font-size: 1.0625rem;
  font-weight: 500;
  cursor: pointer;
  color: #d9d9d9;
  transition: 0.3s;
}

.right_form_btn_button:hover {
  background: #000;
}

.bottom_center {
  padding: 5px;
  font-size: 0.9375rem;
  background: #151515;
  margin-top: 10vh;
}

.bottom_center_span {
  color: #656565;
}

.bottom_center_a {
  color: #cd9042;
  text-decoration: none;
}

.bottom_center_a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 900px) {
  .footer {
    position: relative;
    bottom: 0px;
  }

  .main_content {
    flex-wrap: wrap;
    flex-direction: column;
  }

  .main_content_box {
    margin: 5px 0;
  }
}
